BasedOnStyle: LLVM 
IndentWidth: 2 
UseTab: Always
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine : false
SortIncludes: true
BreakBeforeBraces: Attach